{% extends 'base.html.twig' %}

{% block title %} edit article {{ article.id }} {% endblock %}

{% block body %}
    <h1>
        Edit article № {{ article.id }}
    </h1>
    <form action="/article/save" name="edit" method="post" enctype="multipart/form-data">
        <p>
            Title:
            <input name="title" size="100" value="{{ article.title }}">
        </p>
        <p>
            Content:
            <input name="content" size="200" value="{{ article.content }}">
        </p>

        <input name="id" type="hidden" value="{{ article.id }}" readonly>
        <input name="author_id" type="hidden" value="{{ article.authorId }}" readonly>

        <button>
            save
        </button>
    </form>
{% endblock %}